.App {
	text-align: center;
	padding: 5rem 1rem;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}
header h3 {
	margin: 1rem;
	color: lightblue;
}

p {
	color: #1a202c;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.display-container {
	background: #1a202c;
	width: 70%;
	padding: 20px;
	margin: 3rem auto;
	border-radius: 10px;
	border: 2px solid lightblue;
}

.box-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.box {
	background: lightcoral;
	width: 80%;
	padding: 20px;
	margin: 1rem;
	border-radius: 10px;
}

.box-2 {
	background: lightsalmon;
	min-width: 270px;
	padding: 20px;
	margin: 1rem;
	border-radius: 10px;
}

@media (max-width: 400px) {
	.display-2.box {
		background: lightseagreen;
		width: 10%;
		padding: 20px;
		margin: 1rem;
		border-radius: 10px;
	}
}

@media (max-width: 800px) {
	.display-2.box {
		background: lightseagreen;
		width: 20%;
		padding: 20px;
		margin: 1rem;
		border-radius: 10px;
	}
}
